.container {
	margin: 0 4vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-size: 8vw;
}

h2 {
	margin-top: -3vw;
	font-size: 4vw;
}

.image {
	height: 100vh;
}

.btn {
	margin-top: 4vh;
	border: 0;
	padding: 2vh 8vw;
	font-family: 'Nunito', serif;
	font-weight: bolder;
	font-size: 3vw;
	border-radius: 10vw;
	color: white;
	background-color: #8e3d98;
	transition: 0.5s;
}

.btn:hover {
	background-color: #ca6ad0;
}

@media (max-width: 768px) {
	h1 {
		font-size: 16vw;
	}

	.control {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h2 {
		margin-top: -6vw;
		font-size: 8vw;
	}

	.btn {
		font-size: 6vw;
	}

	.image {
		display: none;
	}

	.container {
		margin: 0;
		margin-top: 32vh;
		justify-content: center;
	}
}
